@import '../utils/variables.scss';
@import '../utils/fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #8654cc;
  font-family: 'MegaRegular';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'MegaBold';
  font-size: 64px;
  color: $white;
}
p {
  color: $white;
}
