@font-face {
  font-family: 'MegaRegular';
  src:
    url('@/assets/fonts/SansRegular.otf') format('otf'),
    url('@/assets/fonts/SansRegular.woff') format('woff'),
    url('@/assets/fonts/SansRegular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'MegaBold';
  src:
    url('@/assets/fonts/SansBold.otf') format('otf'),
    url('@/assets/fonts/SansBold.woff') format('woff'),
    url('@/assets/fonts/SansBold.woff2') format('woff2');
}
