$primary-color: #8654cc;
$secondary-color: #edcffc;
$secondary-color-opacity: rgba(237, 207, 252, 0.2);
$button-color: #c2f09c;
$button-text-color: #6933b0;
$button-back-color: #9b6dd6;
$white: #fff;
$font-size: 16px;
$padding: 10px;
