$primary-color: #8654cc;
$secondary-color: #edcffc;
$secondary-color-opacity: rgba(237, 207, 252, 0.2);
$button-color: #c2f09c;
$button-text-color: #6933b0;
$button-back-color: #9b6dd6;
$white: #fff;
$font-modal-title: #3a3a3a;
$font-modal-text: #666666;
$promocode: #7a3ba4;
